@import "variables";
@import "bootstrap";
@import "fonts";
@import "mixins";

/*
------------------------------------------------
BASE
------------------------------------------------
*/

body {
	@include font-size-base();
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
	color: $white;
	text-decoration: none;

	&:hover {
		color: $white;
	}
}

h1, h2, h3 {
	@include font-family-titles();
	margin-top: 0;
}

.lt-ie9 {
	div {
		@include font-size-base();
		line-height: 1.2em;
	}
	.header__form {
		background-color: black;
	}
	.gratis {
		height: 60px;
		width: 110px;
		padding-top: 10px;
		top: -30px;
	}
}

/*
------------------------------------------------
COMPONENTS
------------------------------------------------
*/

.btn-primary {
	text-transform: uppercase;
	height: auto;
}

.texto--destacado {
	@include font-family-titles();
	@include font-size-large();
	@include line-height-small();
	font-weight: bold;

	@media(min-width: $screen-sm) {
		font-weight: normal;
	}
}

.lista {
	list-style: none;
	padding-left: 1.4em;
	font-weight: 600;

	li {
		position: relative;
		line-height: 1.2em;
		margin-bottom: 15px;
		@include font-size-base();

		&:before {
			content: "*";
			position: absolute;
			top: 0.2em;
			left: -0.8em;
			font-size: 32px;
			color: $highlight-text-color;
		}
	}
}



@mixin bloque {
	padding-bottom: $separator-padding-base-xs;
	@media(min-width: $screen-sm) {
		padding-bottom: $separator-padding-base-sm;
	}
}

@mixin bloque-sm {
	padding-bottom: $separator-padding-base-xs;
	@media(min-width: $screen-sm) {
		padding-bottom: $separator-padding-base-sm;
	}
}

@mixin bloque-only-xs {
	@include bloque();
	@media(min-width: $screen-sm) {
		padding-bottom: 0;
	}
}

	@mixin bloque--en-negativo__titulo {
		@include font-size-large();
		text-transform: uppercase;
		@include line-height-small();
		text-align: center;
	}



.seccion {
	padding-top: $separator-padding-base-xs;
	padding-bottom: $separator-padding-base-xs;

	@media(min-width: $screen-sm) {
		padding-top: $separator-padding-base-sm;
		padding-bottom: $separator-padding-base-sm;
	}
}

	.seccion--sin-margenes {
		padding-top: 0;
		padding-bottom: 0;
	}

	.seccion--destacado {
		background-color: $lighten-background-color;
	}

	.seccion--en-negativo {
		background-color: $black;
		color: $white;
		text-align: center;

		@media(min-width: $screen-sm) {
			text-align: left;
		}
	}

/*
------------------------------------------------
BLOCKS
------------------------------------------------
*/


.gratis {
	position: absolute;
	top: -50px;
	right: -10px;
	display: inline-block;
	border-radius: 100%;
	width: 80px;
	height: 80px;
	padding-top: 26px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.1em;

	background-color: $highlight-background-color;

	@media(min-width: $screen-md-min) {
		width: 140px;
		height: 140px;
		font-size: 15px;
		padding: 22px 10px 0 10px;
		top: -90px;
	}

	&:before {
		// content: "VEN A  \A NUESTRA \A SESIÓN \A INFORMATIVA \A 8 DE JUNIO \A 19:30h";
		white-space: pre;
		color: $white;
	}
}

// ----------------------------------------------

.asterisco {
	&:before {
		content: "*";
		display: inline-block;
		overflow: hidden;
		margin-top: -0.2em;
		font-size: 100px;
		height: 0.8em;
		color: #e51d2a;
		font-weight: normal;
	}
}

// ----------------------------------------------

.llave-texto {
	position: relative;
	padding-right: 85px;
	font-weight: bold;
	margin-top: 10px;
	min-height: 170px;
	margin-bottom: 30px;

	@media(min-width: $screen-sm) {
		margin-bottom: 0;
	}

	&:before {
		font-size: 200px;
		color: $light-background-color;
		content: "}";
		position: absolute;
		right: 0;
		top: -0.4em;
		font-weight: normal;
	}
}


// ----------------------------------------------


.header {
	padding-top: 20px;
	background: url(../images/header_bk.jpg);
	background-size: cover;
	background-position: top center;
}

	.header__right-col {
		@media(min-width: $screen-sm-min) {
			margin-top: 130px;
		}
	}

	.header__title {
		margin-top: 15px;
		margin-bottom: 15px;
		text-transform: uppercase;
		color: $white;
		@include font-size-title();
		@include font-family-titles();
	}

		.header__title__highlighted {
			color: $black;
			font-weight: bold;

			@media(min-width: $screen-sm-min) {
				@include font-size-title-large();
				display: block;
			}
		}

	.header__subtitle {
		@include font-size-base();
		text-transform: uppercase;
		color: $white;
		line-height: 1.2em;
		margin-bottom: 0;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.5);

		@media(min-width: $screen-sm-min) {
			@include font-size-large();
		}
	}

		.header__subtitle__highlighted {
			color: $black;
			font-weight: bold;
		}

	.header__source {
		@include font-size-small();
		font-style: italic;;
		color: $white;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	}

	.header__text {
		@include font-size-large();
		text-transform: uppercase;
		font-family: $font-family-base;
	}

	.header__form {
		position: relative;
		background-color: rgba($black, 0.7);
		padding: $grid-gutter-width;
		color: $white;
		@include font-size-small();
		font-family: $font-family-auxiliar;

		.btn.-submit {
			font-family: $font-family-base;
			@media(max-width: $screen-sm-max) {
				font-size: 14px;
			}
		}

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

// ----------------------------------------------

.modal-body {
	text-align: center;
	padding-bottom: 0;
}

.modal-footer {
	border: none;
	margin-top: 0;

	.btn {
		background-color: $brand-primary;
		color: $white;
		text-transform: uppercase;
	}
}

.form-control.error {
	border: 2px solid $highlight-background-color;
}


// ----------------------------------------------
$background-color: $black;

@mixin seccion-pico-negro-inferior() {
	&:before {
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		bottom: -15px;
		left: 50%;
		margin-left: -30px;
		border-style: solid;
		border-width: 15px 20px 0 20px;
		border-color: $background-color transparent transparent transparent;
	}
}

.seccion-pico-negro-inferior {
	@include seccion-pico-negro-inferior;
}

.seccion.-oscura {
	position: relative;
	background-color: $background-color;
	color: $white;
	text-transform: uppercase;
	text-align: center;
	@include line-height-small();

	@include seccion-pico-negro-inferior();

	.highlighted {
		@include font-size-title();
		font-weight: bold;

		@media(min-width: $screen-sm-min) {
			font-size: 48px;
		}
	}

	.texto {
		@include font-family-titles();
		font-size: 25px;
		line-height: 1em;

		@media(min-width: $screen-sm-min) {
			font-size: 35px;
		}
	}
}

.seccion.-oscura.-sin-pico-sm {
	@media(min-width: $screen-sm-min) {
		&:before {
			content: none;
		}
	}
}




// ----------------------------------------------


.seccion.-gris {
	background-color: #e2e2e2;
}

seccion.-clara {
	background-color: $light-background-color;
	color: $darken-text-color;
}

	.preguntas__title {
		@include font-size-large();
	}

// -----------------------------------------------

.seccion--logos {
	background-color: $dark-background-color2;

	padding-bottom: $separator-padding-base-xs - 15;

	@media(min-width: $screen-sm) {
		padding-bottom: $separator-padding-base-sm - 15;;
	}
}

	.seccion--logos__logo {
		display: inline-block;
		margin-bottom: 15px;
	}


// ----------------------------------------------


.estadistica {
	text-transform: uppercase;
	@include font-size-title();
	@include line-height-small();
}

	.estadistica__numero {
		color: $highlight-text-color;
		@include font-size-title-large();
		font-weight: bold;
	}


// ----------------------------------------------


.situacion-laboral {
	@media(min-width: $screen-sm) {
		background: url("../images/situacion-laboral_bk.png") no-repeat;
		background-position: 90% $grid-gutter-width;

		$ratio-bg: 0.80;
		background-size: (340px * $ratio-bg) (350px * $ratio-bg);
	}
}

// ----------------------------------------------

@mixin titulo-bloque {
	position: relative;
	text-transform: uppercase;
	@include font-size-xlarge();
	margin-bottom: 30px;
}

	@mixin titulo-bloque--interrogante {
		padding-left: 45px;

		&:before {
			position: absolute;
			content: "?";
			left: 0;
			top: -0.15em;
			font-size: 80px;
			font-weight: bold;
			color: $highlight-text-color;


		}

		@media(min-width: $screen-sm) {
			padding-left: 50px;

			&:before {
				top: -0.12em;
				font-size: 98px;
			}
		}
	}

	@mixin titulo-bloque__destacado {
		@include font-size-title();
		font-weight: bold;
	}


// ----------------------------------------------


.como-elegir {
	@media(min-width: $screen-sm) {
		@include img-retina("../images/como-elegir_bk.jpg", "../images/como-elegir_bk@2x.jpg", 380px, 267px);
		background-repeat: no-repeat;
		background-position: bottom right;
	}
}

// ----------------------------------------------
.mad-logo {
	height: 90px;
}

.vcard {
	@include font-size-small();
}

	.vcard__telefono {
		font-weight: bold;
		font-size: 35px;
		line-height: 0.9em;
	}


// ----------------------------------------------

.footer {
	text-align: center;
	background-color: $light-background-color;
	@include font-size-small();

	@media(min-width: $screen-sm) {
		text-align: left;
	}
}


// ----------------------------------------------

.letra-pequena__lista {
	@media(min-width: $screen-sm) {
		margin-top: 45px;
	}
}

// ----------------------------------------------

.isdi-slogan {
	position: relative;
	padding-left: 2.5em;
	min-height: 4em;
	@include line-height-small();
	text-transform: uppercase;
	color: $highlight-text-color;
	padding-top: 0.6em;

	&:before {
		content: "}";
		position: absolute;
		top: 0.19em;
		left: 0;
		font-size: 63px;
		font-weight: bold;
	}
}

.politica-privacidad {
	text-align: left;
	@include font-size-small();
}
	.politica-privacidad__titulo {
		@include font-size-xlarge();
		font-weight: bold;
	}

// ----------------------------------------------

.browsehappy {
	margin: 0.2em 0;
	padding: 10px;
	background: #fff;
	color: #000;
	text-align: center;

	a {
		color: #444;
		text-decoration: underline;
		font-weight: bold;
	}
}

// -- DETAIL -------------------------------------

.detail {
	padding: 16px;
	border-radius: 10px;
	border: 1px solid #b1b1b1;
	text-transform: uppercase;
	@include margen();
	@include font-size-base();

	@media(min-width: $screen-sm-min) {
		padding: 26px;
		text-align: center;
	}
}

// -- DIRECCIÓN ----------------------------------

.direccion {
	@include font-size-small();
	font-family: $font-family-auxiliar;
	font-style: italic;

	padding-left: 15px;
	background: url('../images/ico-geolocalizacion.svg') no-repeat left center;
	background-size: 0.75em;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

	&, &:hover, &:active, &:focus {
		color: $darken-text-color;
	}
}


.mib-logo {
	width: 180px;

	@media(min-width: $screen-sm-min) {
		width: 190px;
		margin-top: 6px;
	}
}

.seccion--mib {
	@media(min-width: $screen-sm-min) {
		background: url('../images/sello.png') no-repeat center right;
	}
	padding-top: $separator-padding-base-xs / 1.3;
	padding-bottom: $separator-padding-base-xs / 1.3;

	@media(min-width: $screen-sm) {
		padding-top: $separator-padding-base-sm / 1.3;
		padding-bottom: $separator-padding-base-sm / 1.3;
	}
}

.seccion--profesional {
	position: relative;

	@media(min-width: $screen-sm-min) {
		&:after {
			content: "";
			background: url('../images/flecha.svg') no-repeat;
			position: absolute;
			right: 20%;
			bottom: -170px;
			width: 50px;
			height: 150px;
			background-size: 50px;
		}
	}
}

.adigital-logo {
	@media(min-width: $screen-sm-min) {
		display: inline-block;
		margin-right: 20px;
	}
		@media(min-width: $screen-md-min) {
		display: inline-block;
		margin-right: 40px;
	}
}

.modulos__numero {
	@include rojo;
	@include uppercase();
	font-family: $font-family-auxiliar;
}

.col--harvard-logo {
	@media(min-width: $screen-sm-min) {
		border-left: 1px solid $dark-background-color2;
	}
}

/*
------------------------------------------------
HELPERS
------------------------------------------------
*/
img {
  vertical-align: inherit;
}


.col-only-xs-margen-mediano {
	@media(max-width: $screen-xs-max) {
		@include margen-mediano();
	}
}

.margen-grande {
	margin-bottom: 40px;
}

.nowrap {
	display: inline-block;
	white-space: nowrap;
}

.text-left-sm {
	@media(min-width: $screen-sm-min) {
		text-align: left;
	}
}

.text-right-sm {
	@media(min-width: $screen-sm-min) {
		text-align: right;
	}
}

[class^="col-sm-"],
[class^="col-xs-"],
[class^="col-md-"],
[class^="col-lg-"] {
	> *:last-child {
		margin-bottom: 0;
	}
}
